<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultate chestionar</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Rezultate chestionar</h2>
    <p>Numărul de răspunsuri corecte: <%= numarRaspunsuriCorecte %> din <%= totalIntrebari %> întrebări.</p>


    <a href="/">Meniu Principal</a>

    
</body>
</html>
